<template>
  <div class="container">
    <div class="row">
      <div class="col-sm text-center">
        <h3>{{ pokemon.name }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <img :src="this.getImageUrl(id)" alt="pokemon image">
      </div>
    </div>

    <div class="row">
      <div class="col-sm text-center">
        <ToggleButton v-if="pokemon" :name="pokemon.name" class="btn"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <strong>height</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <ul>
          <li>{{ pokemon.height }}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <strong>base experience</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <ul>
          <li>{{ pokemon.base_experience }}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <strong>abilities</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <ul>
          <li v-for="a in pokemon.abilities" :key="a">{{ a.ability.name }}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <strong>moves</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <ul>
          <li v-for="a in pokemon.moves" :key="a">{{ a.move.name }}</li>
        </ul>
      </div>
    </div>

  </div>
</template>

<script>
const Pokedex = require('pokeapi-js-wrapper');
const P = new Pokedex.Pokedex();
import ToggleButton from "@/components/ToggleButton";

export default {
  name: "Details",
  components: {ToggleButton},
  props: ['id'],
  data() {
    return {
      pokemon: null,
    }
  },
  methods: {
  getImageUrl(id) {
    return "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/" + id +".svg"
  },
    async getPokemon(id) {
      this.pokemon =  await P.getPokemonByName(id)
          .then((data) => {
            this.pokemon = data;
          })
    },
  },
  created() {
    this.getPokemon(this.id)
  }
}
</script>

<style scoped>

  h3, .btn {
    padding: 10px;
  }

  li:not(:last-child)::after {
    content:', ';
  }

  li {
    display: inline-block;
  }

  ul {
    list-style: none;
    padding: 0;
  }

</style>
