<template>
  <div class="table-responsive-md">
    <table class="table thead-dark table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="pk in pokemons" :key="pk">
        <td>{{ pk }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import store from '../store';

export default {
  name: 'Favorites',
  data() {
    return {
      pokemons: null
    }
  },
  created() {
    this.pokemons = store.favoritePokemons;
  }
}
</script>
