<template>
  <div v-if="pokemons">
    <div class="table-responsive-md">
      <table class="table thead-dark table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody >
        <tr v-for="pk in pokemons.results" :key="pk.name">
          <td>{{ pk.name }}</td>
          <td><img :src="getImage(pk.url)"></td>
          <td><b-button @click="showDetails(pk.url)" variant="success">Details</b-button></td>
        </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item" :class="showPrev ? ' ' : 'disabled'">
            <a @click="showPreviousPokemons" class="page-link" :aria-disabled="showPrev">Previous</a>
          </li>
          <li class="page-item" :class="showNext ? ' ' : 'disabled'">
            <a @click="showNextPokemons" class="page-link" :aria-disabled="showPrev">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
const Pokedex = require('pokeapi-js-wrapper');
const P = new Pokedex.Pokedex();

export default {
  name: 'Home',
  data: function () {
    return {
      result: null,
      pokemons: null,
      next: null,
      prev: null,
      showPrev: false,
      showNext: false
    }
  },
  methods: {
    showDetails(url) {
      let id = url.split('/')[6]
      this.$router.push({name: 'Details', params: { id: id }})
    },
    getImage(url) {
      let id = url.split('/')[6]
      return 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + id + '.png';
    },
    showNextPokemons: async function () {
      await P.resource([this.next]).then((response) => {
        this.pokemons = response[0];
        this.next = response[0].next;
        this.showNext = this.next;
        if (typeof this.showNext === 'object') {
          this.showNext = false;
        }

        this.prev = response[0].previous;
        this.showPrev = this.prev;
      });
    },
    showPreviousPokemons: async function () {
      await P.resource([this.prev]).then((response) => {
        this.pokemons = response[0];
        this.next = response[0].next;
        this.showNext = this.next;
        this.prev = response[0].previous;
        this.showPrev = this.prev;
      });
    },
    getFirstPokemonList(offset, limit) {
      let interval = {
        limit: limit,
        offset: offset
      }

      P.getPokemonsList(interval)
          .then((response) => {
            this.result = response;
            this.pokemons = this.result;
            this.next = this.result.next;
            this.prev = this.result.previous;
            this.showPrev = false;
            this.showNext = true;
          }).catch(error => {
        console.log('Error: ' + error.message)
      })
    }
  },
  created() {
    this.getFirstPokemonList(0, 10);
  }
}
</script>

<style scoped>
</style>
