<template>
  <div>
    <b-navbar toggleable="md" type="light" variant="light">
      <b-navbar-toggle target="nav-text-collapse"></b-navbar-toggle>
      <b-navbar-brand>Pokemon Wiki</b-navbar-brand>
      <b-collapse id="nav-text-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-text><router-link tag="a" to="/" class="nav-link">List of Pokemon's</router-link></b-nav-text>
        </b-navbar-nav>
        <b-navbar-nav>
          <b-nav-text><router-link tag="a" to="/favorites" class="nav-link">Favorite Pokemon's</router-link></b-nav-text>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
name: "Navbar"
}
</script>

<style scoped>
</style>
