<template>
  <span>
    <button v-if="toggle === false" type="button" @click="removeFromFavourites(name)" :class="removeClass">{{ removeMessage }}</button>
    <button v-else @click="addToFavourites(name)" type="button" :class="addClass">{{ addMessage }}</button>
  </span>
</template>

<script>
import store from '../store'

export default {
  name: "ToggleButton",
  props: ['name'],
  data() {
    return {
      addMessage: 'Add to favourites',
      removeMessage: 'Remove from favourites',
      addClass: 'btn btn-success',
      removeClass:'btn btn-danger',
      toggle: false
    }
  },
  methods: {
    init() {
      if (store.favoritePokemons.includes(this.name))
      {
        this.toggle = false;
      }
      else
      {
        this.toggle = true;
      }
    },
    addToFavourites(name) {
      store.favoritePokemons.push(name);
      this.toggle = false;
    },
    removeFromFavourites(name) {
      store.favoritePokemons = store.favoritePokemons.filter(item => item !== name);
      this.toggle = true;
    },

  },
  created() {
    this.init();
  },
}
</script>
