<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <Navbar />
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "./components/Navbar";

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style>
</style>
